/* sass --watch styles.scss:styles.css */

$blue: #093158;
$dark-blue: #082544;
$grey: #ccc5c5;
$yellow: #FFC200;
$green: #2bd879;
$pink: #db6aa3;
$pink-glow: #f088bc;
$light-blue: #00aeff;

body {
    background-color: #010407;
    font-family: "Fira Code";
    color: $grey;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

canvas {
      position: fixed;
      margin: 0;
      top: 0;
      left: 0;
      background-color: #010305;
      z-index: -1;
}

b {
    font-weight: 800;
}

a {
    text-decoration: none;
}


p {
    font-size: 2vw;
    font-weight: 500;
    font-family: "Fira Sans";
}

h1 {
    color: $green;
    padding: 0;
    margin: 0;
    font-family: "Fira Code";
    font-size: 2.5vw;
    font-weight: 300;
    line-height: 7vw;
    text-shadow: 0.05vw 0.05vw 0px darken($green, 30%),
    0.1vw 0.1vw 0px darken($green, 30%),
    0.15vw 0.15vw 0px darken($green, 30%),
    0.2vw .2vw 0vw darken($green, 30%),
    0.25vw 0.25vw 0px darken($green, 30%);
}

#nav {
    position: relative;
    top: 0.3vw;
    height: 6vw;
    left: 0.3vw;
    width: 25vw;
    transform: skew(0deg, -8deg);
}

#container {
    position: relative;
    height: 15vw;
    top: 2vw;
    left: 25vw;
    width: 60vw;
}

ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0.3vw;
    top: 2.5vw;
    font-size: 1.2vw;
}

#linkText {
    position: relative;
    font-family: "Fira Code";
    text-shadow: none;
}

ul a {
     position: relative;
     z-index: 1;
     color: $green;
     font-weight: 350;
     text-decoration: none;
      border-radius: .6vw .6vw .6vw .6vw;
     padding-right: 1vw;
}

ul li {
    display: inline;
    float: left;
}

#indexNav {
    color: $green;

    &:hover {
            color: lighten($green, 25%);
            text-shadow: 0.05vw 0.05vw 0px darken($green, 30%),
            0.1vw 0.1vw 0px darken($green, 30%),
            0.15vw 0.15vw 0px darken($green, 30%),
            0.2vw .2vw 0vw darken($green, 30%),
            0.25vw .25vw 0vw darken($green, 30%),
        }
    &.current {
            text-shadow: 0.05vw 0.05vw 0px darken($green, 30%),
            0.1vw 0.1vw 0px darken($green, 30%),
            0.15vw 0.15vw 0px darken($green, 30%),
            0.2vw .2vw 0vw darken($green, 30%),
            0.25vw 0.25vw 0px darken($green, 30%);
    }
}

#blogNav {
    color: $pink;

    &:hover {
        &:not(.current) {
            text-shadow: 0.05vw 0.05vw 0px darken($pink, 30%),
                0.1vw 0.1vw 0px darken($pink, 30%),
                0.15vw 0.15vw 0px darken($pink, 30%),
                0.2vw .2vw 0vw darken($pink, 30%),
                0.25vw 0.25vw 0px darken($pink, 30%);
        }
    }

    &.current {
        text-shadow: 0.05vw 0.05vw 0px darken($pink, 30%),
            0.1vw 0.1vw 0px darken($pink, 30%),
            0.15vw 0.15vw 0px darken($pink, 30%),
            0.2vw .2vw 0vw darken($pink, 30%),
            0.25vw 0.25vw 0px darken($pink, 30%);
    }
}

#accountsNav {
    color: $yellow;

 &:hover {
     &:not(.current) {
         text-shadow: 0.05vw 0.05vw 0px darken($yellow, 30%),
             0.1vw 0.1vw 0px darken($yellow, 30%),
             0.15vw 0.15vw 0px darken($yellow, 30%),
             0.2vw .2vw 0vw darken($yellow, 30%),
             0.25vw 0.25vw 0px darken($yellow, 30%);
     }
 }

 &.current {
     text-shadow: 0.05vw 0.05vw 0px darken($yellow, 30%),
         0.1vw 0.1vw 0px darken($yellow, 30%),
         0.15vw 0.15vw 0px darken($yellow, 30%),
         0.2vw .2vw 0vw darken($yellow, 30%),
         0.25vw 0.25vw 0px darken($yellow, 30%);
 }
 }

#contactNav {
    color: $pink;

 &:hover {
     &:not(.current) {
         text-shadow: 0.05vw 0.05vw 0px darken($yellow, 30%),
             0.1vw 0.1vw 0px darken($yellow, 30%),
             0.15vw 0.15vw 0px darken($yellow, 30%),
             0.2vw .2vw 0vw darken($yellow, 30%),
             0.25vw 0.25vw 0px darken($yellow, 30%);
     }
 }

    &.current {
        text-shadow: 0.05vw 0.05vw 0px darken($yellow, 30%),
        0.1vw 0.1vw 0px darken($yellow, 30%),
        0.15vw 0.15vw 0px darken($yellow, 30%),
        0.2vw .2vw 0vw darken($yellow, 30%),
        0.25vw 0.25vw 0px darken($yellow, 30%);
    }
}

#projectsNav {
    color: $light-blue;

    &:hover {

        &:not(.current) {
            text-shadow: 0.05vw 0.05vw 0px darken($light-blue, 30%),
            0.1vw 0.1vw 0px darken($light-blue, 30%),
            0.15vw 0.15vw 0px darken($light-blue, 30%),
            0.2vw .2vw 0vw darken($light-blue, 30%),
            0.25vw 0.25vw 0px darken($light-blue, 30%);
        }
    }

    &.current {
       text-shadow: 0.05vw 0.05vw 0px darken($light-blue, 30%),
       0.1vw 0.1vw 0px darken($light-blue, 30%),
       0.15vw 0.15vw 0px darken($light-blue, 30%),
       0.2vw .2vw 0vw darken($light-blue, 30%),
       0.25vw 0.25vw 0px darken($light-blue, 30%);
    }
}

#nameH1 {
    padding: 0.2vw;
    position: relative;
    top: 1vw;
    left: 0vw;
    font-size: 2vw;
    line-height: 0;
}

#mainText {
    position: relative;
    top: 0.7vw;
    left: 0vw;
    font-size: 1.4vw;
    font-weight: 800;
    width: 40vw;
    font-weight: bold;

    & a {
        color: $green;
    }

    & a:hover {
        text-shadow: -0.05vw 0.05vw 0px darken($green, 30%),
        -0.1vw 0.1vw 0px darken($green, 30%),
        -0.15vw 0.15vw 0px darken($green, 30%),
        -0.2vw .2vw 0vw darken($green, 30%);
    }
}

#mainText2 {
    position: relative;
    top: 0.7vw;
    left: 0vw;
    width: 38vw;
    font-size: 1vw;
    transform: skew(0deg, 0deg);
    font-family: "Fira Code";
}

#accountsText,
#accountsText2 {
        position: relative;
        font-size: 1.2vw;
        line-height: 2.7vw;
        & a {
            color: $yellow;
            font-size: 1.4vw;
            font-weight: bold;
        }

        & a:hover {
            text-shadow: -0.05vw 0.05vw 0px darken($yellow, 30%),
                -0.1vw 0.1vw 0px darken($yellow, 30%),
                -0.15vw 0.15vw 0px darken($yellow, 30%),
                -0.2vw .2vw 0vw darken($yellow, 30%);
        }
}

#accountsText {
    position: relative;
    top: 0vw;
    float: left;
    left: 0vw;
}

#accountsText2 {
    position: relative;
    top: 0vw;
    left: 9vw;
    float: left;
}

#contactText {
    position: relative;
    top: 0vw;
    left: 0vw;
    float: left;
    font-size: 1.2vw;
    width: 25vw;
    line-height: 2.7vw;
    transform: skew(0deg, 0deg);
    & a {
        color: $pink;
    }

    & a:hover {
        color: $blue;
        background-color: $pink;
    }
}

#projectsText, #projectsText2 {
  position: relative;
  line-height: 2.7vw;
  font-size: 1.2vw;
  width: 32vw;
        & a {
            color: $light-blue;
            font-size: 1.4vw;
            font-weight: bold;
        }

        & a:hover {
            text-shadow: -0.05vw 0.05vw 0px darken($light-blue, 30%),
                -0.1vw 0.1vw 0px darken($light-blue, 30%),
                -0.15vw 0.15vw 0px darken($light-blue, 30%),
                -0.2vw .2vw 0vw darken($light-blue, 30%);
        }
}

#projectsText {
    top: 0vw;
    left: 0vw; 
    float: left;
}

#projectsText2 {
    position: relative;
    float: right;
    left: 3vw;
    top: -18.8vw;
}


#websiteContent {
    position: relative;
    left: 0vw;
    top: 0.5vw;
    height: 40vw;
    transform: skew(0deg, 0deg);
}

#websiteH1 {
        padding: 0.2vw;
        position: relative;
        top: -8vw;
        left: 0vw;
        line-height: 0;
        transform: skew(0deg, 0deg);
}

#websiteText {
    position: relative;
    top: -8.5vw;
    left: 0vw;
    transform: skew(0deg, 0deg);
    line-height: 2.5vw;
    font-size: 1.2vw;
    width: 30vw;

    & a {
        color: $light-blue;
    }

    & a:hover {
        color: $blue;
        background-color: $light-blue;
    }
}

#errorH1 {
    position: relative;
    left: 36vw;
    top: 5vw;

}

.picture {
    position: relative;
      box-shadow: -0.05vw 0.05vw 0px darken($grey, 40%),
      -0.1vw 0.1vw 0px darken($grey, 40%),
      -0.15vw 0.15vw 0px darken($grey, 40%),
      -0.2vw 0.2vw 0px darken($grey, 40%),
      -0.25vw 0.25vw 0px darken($grey, 40%);
}

#mac {
   top: 8vw;
    transform: skew(10deg, -4deg);
   width: 13vw;
   left: 38vw;
}

#errorText {
    position: relative;
    color: $grey;
    top: 5.5vw;
    left: 39.5vw;
}


@media only screen and (max-width: 600px) {

    h1 {
        padding: 0;
        margin: 0;
        font-size: 19vw;
        font-weight: 200;
        line-height: 100%;
        top: 0vw;
        left: 0vw;
    }

    #main {
        position: relative;
        height: 20vw;
        top: 0w;
        left: 0vw;
    }

    #accounts {
        position: relative;
        height: 100vw;
        width: 100vw;
        top: 0vw;
        left: 0;
        width: 30vw;
    }

    #contact {
        position: relative;
        height: 100vw;
        width: 100vw;
        top: 0vw;
        left: 0;
        width: 30vw;
    }

    #projects {
        position: relative;
        height: 100vw;
        width: 100vw;
        top: -23vw;
        left: 1vw;
        width: 30vw;
    }

    p {
                text-shadow: -0.1vw 0.1vw 0px darken($grey, 30%),
                -0.2vw 0.2vw 0px darken($grey, 30%),
                -0.3vw 0.3vw 0px darken($grey, 30%),
                -0.4vw .4vw 0vw darken($grey, 30%);
    }

    ul {
        font-size: 11vw;
        left: 0vw;
        top: 100vw;

    }

    ul li {
        display: inline;
    
    }

    ul a {
        padding: 0.4vw;
    }

    #linkText {

    }

    .current {

    }

    #nameH1 {
        width: 60vw;
        font-size: 6vw;
        top: 10vw;
        left: 0vw;
    }

    #mainText {
        left: 2.3vw;
        font-size: 6.1vw;
        width: 100vw;
        top: 17vw;
    }

    #mainText2 {
        left: 0vw;
        font-size: 5vw;
        width: 100vw;
        top: 24vw;
    }

    #accountsText {
        top: 0vw;
        left: 3.5vw;
        font-size: 8vw;
        line-height: 14vw;
        float: none;
    }

    #accountsText2 {
        position: relative;
        top: -104vw;
        left: 50vw;
        font-size: 5.8vw;
        line-height: 14vw;
        float: none;
    }

    #contactText {
        position: relative;
        top: -2vw;
        left: 3.2vw;
        font-size: 8.8vw;
        line-height: 14vw;
    }

    #projectsText {
        position: relative;
        top: 0vw;
        left: 0vw;
        line-height: 4vw;
        width: 100vw;
        font-size: 4vw;
    }

    #projectsText2 {
            
        }

    #errorH1 {
        left: 10vw;
        top: 50vw;
    }

    #mac {
        width: 40vw;
        height: 40vw;
        top: 57vw;
        transform: skew(2deg, 0deg);
        left: 14vw;
    }
    #errorText {
        color: $grey;
        top: 57vw;
        left: 15vw;
        font-size: 5.8vw;
    }

}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 800px) {
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}
