/* sass --watch styles.scss:styles.css */
body {
  background-color: #d81919;
  font-family: "IBM Plex Mono";
  color: #ccc5c5cb;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

canvas {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: -1;
}
canvas .dark-mode {
  background-color: beige;
}

b {
  font-weight: 800;
}

a {
  text-decoration: none;
}

p {
  font-size: 2vw;
  font-weight: 500;
  font-family: "IBM Plex Mono";
}

h1 {
  color: #2bd879ab;
  padding: 0;
  margin: 0;
  font-size: 2.5vw;
  font-weight: 300;
  line-height: 7vw;
}

#nav {
  position: relative;
  top: 10vw;
  height: 6vw;
  left: 28vw;
  width: 25vw;
}

#container {
  position: relative;
  height: 15vw;
  top: 8vw;
  left: 37vw;
  width: 60vw;
}

ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 0.3vw;
  top: 2.2vw;
  font-size: 1.2vw;
}

#linkText {
  position: relative;
  text-shadow: none;
}

ul a {
  position: relative;
  z-index: 1;
  color: #2bd879ab;
  font-weight: 350;
  border-radius: 0.6vw 0.6vw 0.6vw 0.6vw;
  padding-right: 1vw;
}

ul li {
  display: inline;
  float: left;
}

#indexNav {
  color: #2bd879ab;
}
#indexNav:hover {
  color: #2bd879;
  text-shadow: 0.05vw 0.05vw 0px rgba(16, 90, 49, 0.6705882353), 0.1vw 0.1vw 0px rgba(16, 90, 49, 0.6705882353), 0.15vw 0.15vw 0px rgba(16, 90, 49, 0.6705882353), 0.2vw 0.2vw 0vw rgba(16, 90, 49, 0.6705882353), 0.25vw 0.25vw 0vw rgba(16, 90, 49, 0.6705882353);
}
#indexNav.current {
  color: #2bd879;
  text-shadow: 0.05vw 0.05vw 0px rgba(16, 90, 49, 0.6705882353), 0.1vw 0.1vw 0px rgba(16, 90, 49, 0.6705882353), 0.15vw 0.15vw 0px rgba(16, 90, 49, 0.6705882353), 0.2vw 0.2vw 0vw rgba(16, 90, 49, 0.6705882353), 0.25vw 0.25vw 0px rgba(16, 90, 49, 0.6705882353);
}

#blogNav {
  color: #db6aa3b7;
}
#blogNav:hover:not(.current) {
  color: #db6aa3;
  text-shadow: 0.05vw 0.05vw 0px rgba(139, 33, 86, 0.7176470588), 0.1vw 0.1vw 0px rgba(139, 33, 86, 0.7176470588), 0.15vw 0.15vw 0px rgba(139, 33, 86, 0.7176470588), 0.2vw 0.2vw 0vw rgba(139, 33, 86, 0.7176470588), 0.25vw 0.25vw 0px rgba(139, 33, 86, 0.7176470588);
}
#blogNav.current {
  color: #db6aa3;
  text-shadow: 0.05vw 0.05vw 0px #8b2156, 0.1vw 0.1vw 0px #8b2156, 0.15vw 0.15vw 0px #8b2156, 0.2vw 0.2vw 0vw #8b2156, 0.25vw 0.25vw 0px #8b2156;
}

#accountsNav {
  color: #ffc400be;
}
#accountsNav:hover:not(.current) {
  color: #ffc400;
  text-shadow: 0.05vw 0.05vw 0px rgba(102, 78, 0, 0.7450980392), 0.1vw 0.1vw 0px rgba(102, 78, 0, 0.7450980392), 0.15vw 0.15vw 0px rgba(102, 78, 0, 0.7450980392), 0.2vw 0.2vw 0vw rgba(102, 78, 0, 0.7450980392), 0.25vw 0.25vw 0px rgba(102, 78, 0, 0.7450980392);
}
#accountsNav.current {
  color: #ffc400;
  text-shadow: 0.05vw 0.05vw 0px rgba(102, 78, 0, 0.7450980392), 0.1vw 0.1vw 0px rgba(102, 78, 0, 0.7450980392), 0.15vw 0.15vw 0px rgba(102, 78, 0, 0.7450980392), 0.2vw 0.2vw 0vw rgba(102, 78, 0, 0.7450980392), 0.25vw 0.25vw 0px rgba(102, 78, 0, 0.7450980392);
}

#contactNav {
  color: #db6aa3b7;
}
#contactNav:hover:not(.current) {
  text-shadow: 0.05vw 0.05vw 0px rgba(102, 78, 0, 0.7450980392), 0.1vw 0.1vw 0px rgba(102, 78, 0, 0.7450980392), 0.15vw 0.15vw 0px rgba(102, 78, 0, 0.7450980392), 0.2vw 0.2vw 0vw rgba(102, 78, 0, 0.7450980392), 0.25vw 0.25vw 0px rgba(102, 78, 0, 0.7450980392);
}
#contactNav.current {
  text-shadow: 0.05vw 0.05vw 0px rgba(102, 78, 0, 0.7450980392), 0.1vw 0.1vw 0px rgba(102, 78, 0, 0.7450980392), 0.15vw 0.15vw 0px rgba(102, 78, 0, 0.7450980392), 0.2vw 0.2vw 0vw rgba(102, 78, 0, 0.7450980392), 0.25vw 0.25vw 0px rgba(102, 78, 0, 0.7450980392);
}

#projectsNav {
  color: #00aeffa6;
}
#projectsNav:hover:not(.current) {
  color: #00aeff;
  text-shadow: 0.05vw 0.05vw 0px rgba(0, 70, 102, 0.6509803922), 0.1vw 0.1vw 0px rgba(0, 70, 102, 0.6509803922), 0.15vw 0.15vw 0px rgba(0, 70, 102, 0.6509803922), 0.2vw 0.2vw 0vw rgba(0, 70, 102, 0.6509803922), 0.25vw 0.25vw 0px rgba(0, 70, 102, 0.6509803922);
}
#projectsNav.current {
  color: #00aeff;
  text-shadow: 0.05vw 0.05vw 0px rgba(0, 70, 102, 0.6509803922), 0.1vw 0.1vw 0px rgba(0, 70, 102, 0.6509803922), 0.15vw 0.15vw 0px rgba(0, 70, 102, 0.6509803922), 0.2vw 0.2vw 0vw rgba(0, 70, 102, 0.6509803922), 0.25vw 0.25vw 0px rgba(0, 70, 102, 0.6509803922);
}

#nameH1 {
  padding: 0.2vw;
  position: relative;
  top: 1vw;
  left: 0vw;
  font-size: 2vw;
  line-height: 0;
}

#mainText {
  position: relative;
  top: 0.2vw;
  left: 0vw;
  font-size: 1.4vw;
  font-weight: 800;
  width: 40vw;
  font-weight: bold;
}
#mainText a {
  color: #2bd879ab;
  border-bottom: 3px dashed #2bd879ab;
}
#mainText a:hover {
  color: #2bd879;
  background-color: #1a1a1a;
}

#mainText2 {
  position: relative;
  top: 0vw;
  left: 0vw;
  width: 38vw;
  font-size: 1vw;
  transform: skew(0deg, 0deg);
}

#accountsText,
#accountsText2 {
  position: relative;
  font-size: 1.2vw;
  line-height: 2.7vw;
}
#accountsText a,
#accountsText2 a {
  color: #ffc400be;
  font-size: 1.4vw;
  font-weight: bold;
  border-bottom: 3px dashed #ffc400be;
}
#accountsText a:hover,
#accountsText2 a:hover {
  color: #ffc400;
  background-color: #1a1a1a;
}

#accountsText {
  position: relative;
  top: 0vw;
  float: left;
  left: 0vw;
}

#accountsText2 {
  position: relative;
  top: 0vw;
  left: 9vw;
  float: left;
}

#contactText {
  position: relative;
  top: 0vw;
  left: 0vw;
  float: left;
  font-size: 1.2vw;
  width: 25vw;
  line-height: 2.7vw;
  transform: skew(0deg, 0deg);
}
#contactText a {
  color: #db6aa3b7;
  border-bottom: 5px dashed #db6aa3b7;
}
#contactText a:hover {
  color: #093158;
  background-color: #db6aa3b7;
}

#projectsText,
#projectsText2 {
  position: relative;
  line-height: 2.7vw;
  font-size: 1.2vw;
  width: 32vw;
}
#projectsText a,
#projectsText2 a {
  color: #00aeffa6;
  font-size: 1.4vw;
  font-weight: bold;
  border-bottom: 3px dashed #00aeffa6;
}
#projectsText a:hover,
#projectsText2 a:hover {
  color: #00aeff;
  background-color: #1a1a1a;
}

#projectsText {
  top: 0vw;
  left: 0vw;
  float: left;
}

#projectsText2 {
  position: relative;
  float: right;
  left: -4vw;
  top: -18.8vw;
}

#websiteContent {
  position: relative;
  left: 0vw;
  top: 0.5vw;
  height: 40vw;
  transform: skew(0deg, 0deg);
}

#websiteH1 {
  padding: 0.2vw;
  position: relative;
  top: -8vw;
  left: 0vw;
  line-height: 0;
  transform: skew(0deg, 0deg);
}

#websiteText {
  position: relative;
  top: -8.5vw;
  left: 0vw;
  transform: skew(0deg, 0deg);
  line-height: 2.5vw;
  font-size: 1.2vw;
  width: 30vw;
}
#websiteText a {
  color: #00aeffa6;
}
#websiteText a:hover {
  color: #093158;
  background-color: #00aeffa6;
}

#errorH1 {
  position: relative;
  left: 0vw;
  top: 0vw;
}

.picture {
  position: relative;
}

#mac {
  top: 0vw;
  width: 13vw;
  left: 0vw;
}

#errorText {
  position: relative;
  color: #ccc5c5cb;
  top: 0vw;
  left: 0vw;
}

.dark-mode {
  color: white;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  h1 {
    padding: 0;
    margin: 0;
    font-size: 19vw;
    font-weight: 200;
    line-height: 100%;
    top: 0vw;
    left: 0vw;
  }

  #main {
    position: relative;
    height: 20vw;
    top: 0w;
    left: 0vw;
  }

  #accounts {
    position: relative;
    height: 100vw;
    width: 100vw;
    top: 0vw;
    left: 0;
    width: 30vw;
  }

  #contact {
    position: relative;
    height: 100vw;
    width: 100vw;
    top: 0vw;
    left: 0;
    width: 30vw;
  }

  #projects {
    position: relative;
    height: 100vw;
    width: 100vw;
    top: -23vw;
    left: 1vw;
    width: 30vw;
  }

  p {
    text-shadow: -0.1vw 0.1vw 0px rgba(132, 116, 116, 0.7960784314), -0.2vw 0.2vw 0px rgba(132, 116, 116, 0.7960784314), -0.3vw 0.3vw 0px rgba(132, 116, 116, 0.7960784314), -0.4vw 0.4vw 0vw rgba(132, 116, 116, 0.7960784314);
  }

  ul {
    font-size: 11vw;
    left: 0vw;
    top: 100vw;
  }

  ul li {
    display: inline;
  }

  ul a {
    padding: 0.4vw;
  }

  #nameH1 {
    width: 60vw;
    font-size: 6vw;
    top: 10vw;
    left: 0vw;
  }

  #mainText {
    left: 2.3vw;
    font-size: 6.1vw;
    width: 100vw;
    top: 17vw;
  }

  #mainText2 {
    left: 0vw;
    font-size: 5vw;
    width: 100vw;
    top: 24vw;
  }

  #accountsText {
    top: 0vw;
    left: 3.5vw;
    font-size: 8vw;
    line-height: 14vw;
    float: none;
  }

  #accountsText2 {
    position: relative;
    top: -104vw;
    left: 50vw;
    font-size: 5.8vw;
    line-height: 14vw;
    float: none;
  }

  #contactText {
    position: relative;
    top: -2vw;
    left: 3.2vw;
    font-size: 8.8vw;
    line-height: 14vw;
  }

  #projectsText {
    position: relative;
    top: 0vw;
    left: 0vw;
    line-height: 4vw;
    width: 100vw;
    font-size: 4vw;
  }

  #errorH1 {
    left: 10vw;
    top: 50vw;
  }

  #mac {
    width: 40vw;
    height: 40vw;
    top: 57vw;
    left: 14vw;
  }

  #errorText {
    color: #ccc5c5cb;
    top: 57vw;
    left: 15vw;
    font-size: 5.8vw;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */

/*# sourceMappingURL=styles.css.map */
