/* sass --watch styles.scss:styles.css */

$blue: #0c3f72;
$dark-blue: #072b4e;
$grey: #cecece;
$yellow: #FFC200;
$green: #2bd879;
$pink: #db6aa3;
$pink-glow: #f088bc;
$light-blue: #00aeff;

body {
    background-color: #001d3a;
    font-family: "Fira Code";
    color: $grey;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    /*  background-image: url(https://media.geeksforgeeks.org/wp-content/uploads/space_background_for_infinite_scroll_example.png); */
   // background-image: url("icons/back.png");
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

canvas {
      position: fixed;
      margin: 0;
      top: 0;
      left: 0;
      background-color: #001d3a;
      z-index: -1;
}

b {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: $yellow;
    border-radius: 1vw 1vw 1vw 1vw;
}


p {
    font-size: 2vw;
    transform: skew(20deg, -6deg);
    font-family: "Fira Sans";
    text-shadow: -0.02vw 0.02vw 0px darken($grey, 40%),
    -0.04vw 0.04vw 0px darken($grey, 40%),
    -0.06vw 0.07vw 0px darken($grey, 40%),
    -0.08vw 0.08vw 0px darken($grey, 40%),
    -0.1vw 0.1vw 0px darken($grey, 40%),
    -0.12vw 0.12vw 0px darken($grey, 40%);  
}

h1 {
    color: $green;
    padding: 0;
    margin: 0;
    font-family: "Fira Code";
    font-size: 2.5vw;
    font-weight: 300;
    transform: skew(20deg, -6deg);
    line-height: 7vw;
    top: 5.5vw;
    left: 30vw;
    text-shadow: -0.05vw 0.05vw 0px darken($green, 30%),
    -0.1vw 0.1vw 0px darken($green, 30%),
    -0.15vw 0.15vw 0px darken($green, 30%),
    -0.2vw .2vw 0vw darken($green, 30%);
}

#main {
    height: 100vh;
    width: 100vw;
}

#accounts {
    height: 100vh;
    width: 100vw;
}

#contact {
    height: 100vh;
    width: 100vw;
}

#projects {
    height: 100vh;
    width: 100vw;
}

ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2.9vw;
    right: 21.5vw;
    bottom: 8vw;
    transform: skew(-20deg, 6deg);
}

#linkText {
    background-color: $blue;
    padding: 0.4vw;
    color: $yellow;
    position: relative;
    box-shadow: -0.1vw 0.1vw 0px $dark-blue, 
    -0.2vw .2vw 0vw $dark-blue, 
    -.3vw .3vw 0vw $dark-blue, 
    -.4vw .4vw 0vw $dark-blue, 
    -.5vw .5vw 0vw $dark-blue;
    font-family: "Fira Code";
    border-radius: 1vw 1vw 1vw 1.2vw;
    text-shadow: none;
}

#linkText:hover {
    background-color: $yellow;
    box-shadow: none;
    color: $blue;
    top: 1vw;
    left: -1vw;
    text-shadow: none;
}

ul a {
     position: relative;
     background-color: $blue;
     z-index: 1;
     color: $green;
     text-decoration: none;
     padding: .2vw;
     box-shadow: 0.1vw 0.1vw 0px $dark-blue,
     0.2vw .2vw 0vw $dark-blue,
     .3vw .3vw 0vw $dark-blue,
     .4vw .4vw 0vw $dark-blue,
     .5vw .5vw 0vw $dark-blue,
     .6vw .6vw 0vw $dark-blue,
     .7vw .7vw 0vw $dark-blue;
}

ul a:hover {
    background-color: $green;
    color: $blue;
}

.current {
    box-shadow: none;
    top: 1.3vw;
    left: 0.8vw;
}

#infoNav {
    color: $green;

    &:hover,
    :not(.current) {
        background-color: $green;
        color: $blue;

        &:not(.current) {
            box-shadow: 0.1vw 0.1vw 0px darken($green, 20%),
                0.2vw .2vw 0vw darken($green, 20%),
                .3vw .3vw 0vw darken($green, 20%),
                .4vw .4vw 0vw darken($green, 20%),
                .5vw .5vw 0vw darken($green, 20%);
        }
    }

    &.current {
        background-color: $green;
        color: $blue;
    }
}

#accountsNav {
    color: $yellow;

    &:hover {
        background-color: $yellow;
        color: $blue;

        &:not(.current) {
            box-shadow: 0.1vw 0.1vw 0px darken($yellow, 20%),
                0.2vw .2vw 0vw darken($yellow, 20%),
                .3vw .3vw 0vw darken($yellow, 20%),
                .4vw .4vw 0vw darken($yellow, 20%),
                .5vw .5vw 0vw darken($yellow, 20%),
                .6vw .6vw 0vw darken($yellow, 20%);
        }
    }

    &.current {
        background-color: $yellow;
        color: $blue;
    }
}

#contactNav {
    color: $pink;

    &:hover {
        background-color: $pink;
        color: $blue;

        &:not(.current) {
            box-shadow: 0.1vw 0.1vw 0px darken($pink, 20%),
                0.2vw .2vw 0vw darken($pink, 20%),
                .3vw .3vw 0vw darken($pink, 20%),
                .4vw .4vw 0vw darken($pink, 20%),
                .5vw .5vw 0vw darken($pink, 20%),
                .6vw .6vw 0vw darken($pink, 20%);
        }
    }

    &.current {
        background-color: $pink;
        color: $blue;
    }
}

#projectsNav {
    color: $light-blue;

    &:hover {
        background-color: $light-blue;
        color: $blue;

        &:not(.current) {
            box-shadow: 0.1vw 0.1vw 0px darken($light-blue, 20%),
                0.2vw .2vw 0vw darken($light-blue, 20%),
                .3vw .3vw 0vw darken($light-blue, 20%),
                .4vw .4vw 0vw darken($light-blue, 20%),
                .5vw .5vw 0vw darken($light-blue, 20%),
                .6vw .6vw 0vw darken($light-blue, 20%);
        }
    }

    &.current {
        background-color: $light-blue;
        color: $blue;
    }
}

#nameH1 {

    padding: 0.2vw;
    position: relative;
}

#mainText {
    position: relative;
    top: 3vw;
    left: 26.5vw;
    font-size: 2vw;
    line-height: 6vw;

    & a {
        color: $green;
    }

    & a:hover {
        color: $blue;
        background-color: $green;
    }
}

#mainText2 {
    position: relative;
    top: 3vw;
    left: 33.5vw;
    width: 38vw;
    font-size: 1.4vw;
    line-height: 6vw;
    font-family: "Fira Code";
}

#linkText:hover {
    background-color: $yellow;
    color: $blue;
}

#accountsText {
    position: relative;
    float: left;
    top: 3.5vw;
    left: 31vw;
    font-size: 1.7vw;
    transform: skew(20deg, -6deg);
    line-height: 4.5vw;

    & a {
        color: $yellow;
    }

    & a:hover {
        color: $blue;
        background-color: $yellow;
    }
}

#accountsText2 {
    position: relative;
    top: 1vw;
    left: 33vw;
    font-size: 1.8vw;
    transform: skew(20deg, -6deg);
    line-height: 4.5vw;

    & a {
        color: $yellow;
    }

    & a:hover {
        color: $blue;
        background-color: $yellow;
    }
}

#contactText {
    position: relative;
    top: 4.3vw;
    left: 31vw;
    font-size: 1.8vw;
    transform: skew(20deg, -6deg);
    width: 25vw;
    line-height: 4.5vw;

    & a {
        color: $pink;
    }

    & a:hover {
        color: $blue;
        background-color: $pink;
    }
}

#projectsText {
    position: relative;
    top: 5vw;
    left: 28vw;
    transform: skew(20deg, -6deg);
    line-height: 4vw;
    font-size: 1.8vw;
    width: 32vw;

    & a {
        color: $light-blue;
    }

    & a:hover {
        color: $blue;
        background-color: $light-blue;
    }
}

#errorH1 {
    position: relative;
    left: 24vw;
    top: 5vw;

}

#mac {
   position: relative;
   top: 10vw;
   width: 13vw;
   transform: skew(20deg, -6deg);
   left: 28vw;
   box-shadow: -0.05vw 0.05vw 0px darken($grey, 40%),
   -0.1vw 0.1vw 0px darken($grey, 40%),
   -0.15vw 0.15vw 0px darken($grey, 40%),
   -0.2vw 0.2vw 0px darken($grey, 40%),
   -0.25vw 0.25vw 0px darken($grey, 40%);
   ;
}

#errorText {
    position: relative;
    color: $grey;
    top: 5vw;
    left: 31.4vw;
}


@media only screen and (max-width: 700px) {

    h1 {
        padding: 0;
        margin: 0;
        font-size: 19vw;
        font-weight: 200;
        line-height: 100%;
        top: 10vw;
        left: 11vw;
    }

    ul {
        font-size: 10.5vw;
        right: 22.5vw;
        bottom: 9.5vw;
    }



    ul a {
        padding: 0.4vw;
        box-shadow: 0.1vw 0.1vw 0px $dark-blue,
            0.2vw .2vw 0vw $dark-blue,
            .3vw .3vw 0vw $dark-blue,
            .4vw .4vw 0vw $dark-blue,
            .5vw .5vw 0vw $dark-blue,
            .6vw .6vw 0vw $dark-blue,
            .7vw .7vw 0vw $dark-blue,
            .8vw .8vw 0vw $dark-blue,
            .9vw .9vw 0vw $dark-blue,
            1vw 1vw 0vw $dark-blue,
            1.1vw 1.1vw 0px $dark-blue,
            1.2vw 1.2vw 0vw $dark-blue,
            1.3vw 1.3vw 0vw $dark-blue,
            1.4vw 1.4vw 0vw $dark-blue,
            1.5vw 1.5vw 0vw $dark-blue,
            1.6vw 1.6vw 0vw $dark-blue,
            1.7vw 1.7vw 0vw $dark-blue,
            1.8vw 1.8vw 0vw $dark-blue,
            1.9vw 1.9vw 0vw $dark-blue,
            2.0vw 2.0vw 0px $dark-blue,
            2.1vw 2.1vw 0vw $dark-blue,
            2.2vw 2.2vw 0vw $dark-blue;
    }

    .current {
        top: 2.7vw;
        left: 2.7vw;
    }

    #nameH1 {
        width: 10%;
    }

    #mainText {
        left: 0.4vw;
        font-size: 5.9vw;
        width: 100vw;
        top: 15vw;

    }

    #mainText2 {
        left: 15vw;
        font-size: 5vw;
        width: 100vw;
        top: 25vw;

    }

    #accountsText {
        top: 12vw;
        left: 13vw;
        font-size: 5vw;
        line-height: 12vw;
    }

    #accountsText2 {
        position: relative;
        top: 15vw;
        left: 10vw;
        font-size: 5vw;
        line-height: 12vw;
    }

    #contactText {
        position: relative;
        top: 17vw;
        left: 11vw;
        font-size: 5.5vw;
        transform: skew(20deg, -6deg);
        line-height: 11vw;
    }

    #projectsText {
        position: relative;
        top: 15vw;
        left: 13vw;
        transform: skew(20deg, -6deg);
        line-height: 8vw;
        font-size: 5vw;
        width: 70vw;
    }

    #errorH1 {
        left: 10vw;
        top: 50vw;
    }

    #mac {
        width: 30vw;
        height: 30vw;
        top: 57vw;
        transform: skew(20deg, -6deg);
        left: 25vw;
    }
    #errorText {
        color: $grey;
        top: 53vw;
        left: 34vw;
        font-size: 5.5vw;
    }

}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}
